<h1><%= topic.title %></h1>
<h2><pre><%= topic.body %></pre></h2>
<form class="form-stacked" action="/votes/<%= topic._id %>" method="post">
  <div class="actions selections">
  <% for (var i = 0, l = topic.selections.length; i < l; ++i) { %>
    <div>
      <input type="button" class="btn xlarge selection" value="<%= topic.selections[i] %>"/>
    </div>
  <% } %>
  </div>
</form>
<script type="text/javascript">
$(function() {
  var selections = $('.selection');

  selections.click(function(e) {
    e.preventDefault();

    var self = this,
        action = self.form.action;

    selections.removeClass('primary');
    $(self).addClass('primary');

    $.post(action, { selection: self.value })
      .success(function(data) {
        // console.log(data);
      })
      .error(function() {
        alert('Error!');
      });
  });
});
</script>