body {
  padding: 50px;
}

h2 pre {
  border: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.selections div {
  margin-bottom: 20px;
}

.selections input.btn {
  height: 3em;
  text-align: left;
}
